

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 99;
}

/* Popup panel right pop up */
.info-panel {
    position: fixed;
    display: none;
    /* top: 50%;  */
    transform: translateY(-50%);
    width: 650px;
    height: 940px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.805);
    border-color: rgba(189, 13, 13, 0.755);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    overflow-y: auto;

    transform: translateY(100%);
    opacity: 0;
    animation: slideDown 0.1s ease forwards;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#infoRightPanel {
    right: 30px;
}

#infoLeftPanel {
    left: 30px;
}



#mainBldg, #oval, #lagoon,
#chapel, #lib, #ousBldg, 
#cdr, #linear, #obelisk, #shrine, 

#pylon, #mural, #visitors,
#gym, #alumni, #pool,
#court, #research, #catWalk,

#coc, #cea, #itech,
#BPoffice, #hasmin {
    /* border: 3px solid rgb(207, 222, 0); */
    border-radius: 20px;
    border: transparent;
}

#mainBldg:hover, 
#oval:hover, 
#lagoon:hover,
#chapel:hover, 
#lib:hover, 
#ousBldg:hover, 
#cdr:hover, 
#linear:hover, 
#obelisk:hover, 
#shrine:hover,

#pylon:hover, 
#mural:hover, 
#visitors:hover,
#gym:hover, 
#alumni:hover, 
#pool:hover,
#court:hover, 
#research:hover, 
#catWalk:hover,

#coc:hover, 
#cea:hover, 
#itech:hover,
#BPoffice:hover, 
#hasmin:hover {
    border: 4px solid rgb(179, 0, 0); 
    border-radius: 20px;
}

/* ------------------------------------------------------- */
/* Left side */

/* Main building */
#mainBldg {
    position: fixed;
    top: 34%;   
    left: 14%;  
    width: 300px;
    height: 120px;
    background: transparent;
    cursor: pointer;
}

/* oval */
#oval {
    position: fixed;
    top: 62%;   
    left: 23%;  
    width: 570px;
    height: 190px;
    background: transparent;
    cursor: pointer;
}

/* lagoon */
#lagoon {
    position: fixed;
    top: 39%;   
    left: 34%;  
    width: 250px;
    height: 90px;
    background: transparent;
    cursor: pointer;
}

/* chapel */
#chapel {
    position: fixed;
    top: 48%;   
    left: 14%;  
    width: 250px;
    height: 130px;
    background: transparent;
    cursor: pointer;
}

/* library */
#lib {
    position: fixed;
    top: 29%;   
    left: 42%;  
    width: 250px;
    height: 90px;
    background: transparent;
    cursor: pointer;
}

/* OUS bldg */
#ousBldg {
    position: fixed;
    top: 22%;   
    left: 40%;  
    width: 150px;
    height: 65px;
    background: transparent;
    cursor: pointer;
}

/* charlie del rosario bldg */
#cdr {
    position: fixed;
    top: 30%;   
    left: 33%;  
    width: 95px;
    height: 70px;
    background: transparent;
    cursor: pointer;
}

/* linear */
#linear {
    position: fixed;
    top: 24%;   
    left: 35%;  
    width: 94px;
    height: 60px;
    background: transparent;
    cursor: pointer;
}

/* obelisk */
#obelisk {
    position: fixed;
    top: 40%;   
    left: 47%;  
    width: 95px;
    height: 90px;
    background: transparent;
    cursor: pointer;
}

/* shrine */
#shrine {
    position: fixed;
    top: 51%;   
    left: 41%;  
    width: 224px;
    height: 74px;
    background: transparent;
    cursor: pointer;
}


/* ------------------------------------------------------- */

/* Right side */

/* Pylon */
#pylon {
    position: fixed;
    top: 66%;   
    right: 25%;  
    width: 90px;
    height: 75px;
    background: transparent;
    cursor: pointer;
}

/* Mural */
#mural {
    position: fixed;
    top: 70%;   
    right: 30%;  
    width: 70px;
    height: 75px;
    background: transparent;
    cursor: pointer;
}

/* gym */
#gym {
    position: fixed;
    top: 43%;   
    right: 20%;  
    width: 240px;
    height: 150px;
    background: transparent;
    cursor: pointer;
    transform: rotate(25deg);
}

/* parking and tennis court */
#court {
    position: fixed;
    top: 49%;   
    right: 30%;  
    width: 280px;
    height: 69px;
    background: transparent;
    cursor: pointer;
    transform: rotate(27deg);
}

/* Kinetic and Alumni Building */
#alumni {
    position: fixed;
    top: 36%;   
    right: 37%;  
    width: 210px;
    height: 76px;
    background: transparent;
    cursor: pointer;
}

/* Pool */
#pool {
    position: fixed;
    top: 41%;   
    right: 33%;  
    width: 98px;
    height: 76px;
    background: transparent;
    cursor: pointer;
}

/* Engineering and Science Research Center */
#research {
    position: fixed;
    top: 55%;   
    right: 12%;  
    width: 210px;
    height: 80px;
    background: transparent;
    cursor: pointer;
}

/* Catwalk */
#catWalk {
    position: fixed;
    top: 59%;   
    right: 31%;  
    width: 340px;
    height: 70px;
    background: transparent;
    cursor: pointer;
    transform: rotate(33deg);
}

/* ------------------------------------------------------- */
/* CEA, COC, ITECH */

/* coc */
#coc {
    position: fixed;
    top: 14%;   
    right: 27%;  
    width: 110px;
    height: 90px;
    background: transparent;
    cursor: pointer;
}

#cea {
    position: fixed;
    top: 8%;   
    right: 21%;  
    width: 150px;
    height: 90px;
    background: transparent;
    cursor: pointer;
}

#itech {
    position: fixed;
    top: 5%;   
    right: 15%;  
    width: 130px;
    height: 70px;
    background: transparent;
    cursor: pointer;
}

#BPoffice {
    position: fixed;
    top: 11%;   
    right: 15%;  
    width: 130px;
    height: 70px;
    background: transparent;
    cursor: pointer;
}

#hasmin {
    position: fixed;
    top: 1%;   
    right: 5%;  
    width: 165px;
    height: 70px;
    background: transparent;
    cursor: pointer;
}